[defaults]
inventory       = inventory.ini
remote_user     = azureuser
private_key_file = ../terraform/caredesk_key
host_key_checking = true

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new
